/* 	Main stylesheet for Knob Hills Trail Race
	Author: Kristi Taylor 
*/


/* --------------Style CSS Contents -------------------

Landing Page is divided into sections:

-1) Basic styling
-2) Header
-3) Footer
-4) Page styling
	-4.1) Hero image
	-4.2) About the race section
	-4.3) Sponsors section
	-4.4) Galleries
	-4.5) Shop Gallery
-5) Race Information page
-6) Volunteer page
-7) History page
-8) Shop page
-9) Galleries page
-10) FAQ page

--------------------------------------------------------
COLORS AND FONTS:

Colors: Navy Blue - #2b3d54
		Medium Turquoise - #2c5b61
		Teal - #247065
		Light Green - #60a65f
		Light Yellow - #ffec97

Font Families: 	Cardo (400, 700)
				Pathway Gothic One (400)

--------------------------------------------------------
*/

/* --- 1) BASIC STYLING --- */
body {
	font-family: "Cardo", serif;
	font-size: 1em;

}
a {
	text-decoration: none;
	color: #2c5b61;
}

h2 {
	font-family:"Cardo", serif;
	font-size: 2em!important;
	text-transform: uppercase;
	color: #247605!important;
	text-align: center;
	letter-spacing: .25em;

}
h3 {
	font-family:"Cardo", serif;
	font-size: 1.75em!important;
	color: #2b3d54!important;
	text-align: center;
	margin: auto;
	padding: .5em;

}

h4 {
	font-family:"Pathway Gothic One", sans-serif;
	font-size: 1.5em!important;
	color: #2b3d54!important;
	text-align: center;
	margin: auto;

}

h5 {
	font-family:"Pathway Gothic One", sans-serif;
	font-size: 1.0em!important;
	color: #fff!important;
	letter-spacing: .5em;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
}

.btn {
	color: #fff;
	font-family:"Pathway Gothic One", sans-serif;
	font-size: 1em!important;
	letter-spacing: .25em;
	text-transform: uppercase;
	background-color: #2b3d54;
	border-color: #2b3d54;
	width: 5em;
	border-radius: 5px;
	width: auto;
}

.img-thumbnail {
	margin-bottom: .5em;
}


/* --- 2) HEADER --- */



.navbar {
	font-family:"Pathway Gothic One", sans-serif;
	font-size: 1.5em!important;
	padding-top: 10px;
	/*background-color: transparent!important;*/
	margin: none;

}
.nav-link {
	padding-right: 1em !important;
	padding-left: 1em !important;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff!important;
}

.fa-bars {
	color: #fff;
}
.dropdown-menu {
	color: #fff!important;
	background-color: #2b3d54;
	width: 15px!important;
}
.dropdown-item {
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}


/* --- 3) FOOTER --- */
#footer-style {
	font-family:"Pathway Gothic One", sans-serif;
	background-color: #fff!important;
	font-size: 1.25em;
	padding-top: 2em;
}
.copyright {
	font-size: 1em;
	letter-spacing: .15em;
	color: #2c5b61;
	padding: 1em;
	margin: auto;
	text-align: center;
}
.email-btn {
	margin-left: 1em;
	width: auto;
}

.fa-instagram, .fa-facebook-square, .fa-twitter-square {
	color: #2b3d54;
	width: 50px!important;
	height: auto;
	padding: 10px;
}

.footer-title {
	padding-bottom: .5em;
	font-size: 1.65em!important;
}

.form-inline {
	padding-bottom: 10px;
}
.darc-logo {
	height: 100px;
	width: auto;

}


/* --- 4) PAGE STYLING --- */
/* --- 4.1) HERO IMAGE  --- */
#distance {
	padding-bottom: 10px;

}

.jumbotron {
background-image: url("KHills_HeroImage1.png");
height: 800px;
width: 1500px;
background-size: cover;
padding-top: 10px;
}

.heroText {
	padding-left: 40px !important;
	padding-right: 30px !important;
}

/* --- 4.2) ABOUT THE RACE SECTION  --- */

.icon_set {
	height: auto;
	align-content: center;
	display: block;
	margin: auto;
	padding: 1em;
}
.aboutRace {
	padding-bottom: .5em;
}

.aboutContainer {
	padding-top: 2em;
	padding-bottom: 2em;
	max-height: 637px;
	max-width: 1200px;
}
.button-aboutRace {
	width: 140px;
	margin: auto;
	display: flex;
    justify-content: center;
    align-items: center;
}
.center-paragraph {
	text-align: center;
}


/* --- 4.3) SPONSORS SECTION  --- */
.sponsorsBox {
	background-color: #fff;
	margin-top: 3em;
	margin-left: 2em;
	max-width: 550px;
	padding: 1em;
	border-radius: 1%
}

.logoContainer {
	margin: auto;
}
.sponsorsTitle {
	padding: .5em;
	opacity: 1.0;
}
.sponsorLogo {
	width: 150px;
	height: auto;
	margin-right: .5em;
	margin-left: .5em;
	align-content: justify;
	opacity: 1.0;
}
.sunset {
	background-image: url("Sunset_Brushed-01.jpg");
	height: 680px;
	background-size: cover;
	margin-bottom: 3em;
}

.sponsorSubtitle {
	padding-bottom: .5em;
}


/* --- 4.4) GALLERIES  --- */
.trailRiver {
	background-image: url("Khills_river.png");
	height: 680px;
	background-size: cover;
	margin-bottom: 4em;
}

/*
.gallery-button {
	background-color: #fff;
	color: #000;
	font-family:"Pathway Gothic One", sans-serif;
	letter-spacing: .25em;
	text-transform: uppercase;
}
.float-text {
	padding-top: 170px;
	color: #fff;
}*/

/* --- 4.5) SHOP GALLERY  --- */

.shopContainer {

}
.shopSubtitle{
	letter-spacing: .25em;
}
.shop-item-title {
	margin: .5em;
	font-size: 1.25em!important;
}

.bottomShop{
	float: center;
}

.topShop {
	margin-bottom: 1em;

}

.shop-subtitle {
	font-family:"Cardo", serif;
	font-size: 1.25em!important;
}
.shop-button {
	margin: .5em;
	width: 175px;
	height: auto;
}

/* --- 5) RACE INFORMATION PAGE---*/
/* --- 6) VOLUNTEER PAGE ---*/
/* --- 7) HISTORY PAGE ---*/
/* --- 8) SHOP PAGE ---*/
/* --- 9) GALLERIES PAGE ---*/
/* --- 10) FAQ PAGE ---*/

